html,
body {
    height: 100%;  
}

body { 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;  
}

.container__main{
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    background: white;
    .block1{
        position: relative;
        display: flex;
        height: 330px;
        width: auto;
        background: url(/figma/img/IMAGE1.png) no-repeat;
        background-size: cover;
        
        .text_inside{
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            height: 70px;
            width: 470px;
            font-size: 28px;
            position: absolute;
            left: 60px;
            bottom: 40px;
            padding-right: 50px;
        }
        .ico{
            width: 60px;
            height: 25px;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            position: absolute;
            top: 21px;
            right: 21px;
            font-size: 8px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 8px;
        }
        .profile{
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            color: #FFFFFF;
            position: absolute;
            top:160px;
            left: 114px;
            &::before{
                position: absolute;
                content:'';
                background: url(/figma/img/mini1.png) no-repeat;
                width: 40px;
                height: 40px;
                margin-right: 50px;
                left: -56px;
            }
        }
    }
    .block2 {
        position: relative;
        display: flex;
        margin-top: 30px;
        height: 330px;
        background: url(/figma/img/IMAGE2.png) no-repeat;
        background-size: cover;
        .text_inside {
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            height: 70px;
            width: 470px;
            font-size: 28px;
            position: absolute;
            left: 60px;
            bottom: 40px;
            padding-right: 50px;
        }

        .profile {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            color: #FFFFFF;
            position: absolute;
            top: 160px;
            left: 114px;
            &::before {
                position: absolute;
                content: '';
                background: url(/figma/img/mini2.png) no-repeat;
                width: 40px;
                height: 40px;
                margin-right: 50px;
                left: -56px;
            }
        }
    }
    .block3 {
        position: relative;
        display: flex;
        margin-top: 30px;
        height: 330px;
        background: url(/figma/img/IMAGE3.png) no-repeat;
        background-size: cover;
        .text_inside {
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            height: 70px;
            width: 470px;
            font-size: 28px;
            position: absolute;
            left: 60px;
            bottom: 40px;
            padding-right: 50px;
        }
        .ico {
            width: 102px;
            height: 25px;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            position: absolute;
            top: 21px;
            right: 21px;
            font-size: 8px;
            color: #FFFFFF;
            text-align: center;
            padding-top: 8px;
        }
        .profile {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            color: #FFFFFF;
            position: absolute;
            top: 160px;
            left: 114px;
            &::before {
                position: absolute;
                content: '';
                background: url(/figma/img/mini1.png) no-repeat;
                width: 40px;
                height: 40px;
                margin-right: 50px;
                left: -56px;
            }
        }
    }
    .after__text1,
    .after__text2,
    .after__text3{
        display: flex;
        
        max-width: 664px;
        margin:36px 76px 44px 60px;
        font-size: 18px;
        line-height: 25px;
    }
    .overflow {
        overflow: hidden;
        height: 70px;
    }
    .buttonContinue1,
    .buttonContinue2,
    .buttonContinue3{
        color: #8D4FDB;
        width: 158px;
        height: 30px;
        background: inherit;
        margin-left: 45px;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .block__more{
        height: 211px;  
        background: #F1F1F1;
        .text_more{
            text-align: center;
            margin-top: 49px;
            font-size: 30px;
        }
        .button_more{
            position: absolute;
            left: calc(50% - 132px/2);
            width: 132px;
            height: 30px;
            background: #8D4FDB;
            border-radius: 3px;
            margin-top: 21px;
            margin-bottom: 60px;
            a{
                color: white;
                font-family: 'Montserrat';
            }
        }
    }
}

.container_anderfooter{
    min-height: 678px;
    max-width: 940px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;

    .block_anderfooter {
    height: 211px;

        .text_more_anderfooter {
            text-align: center;
            margin-top: 120px;
            font-size: 30px;
        }

        .div_more_anderfooter {
            text-align: center;
            height: 30px;
            margin-top: 21px;
            margin-bottom: 60px;
        }
    }

    .div_grid{
        height: 275px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px; 
        .grid_el1{
            position: relative;
            background:url(/figma/img/IMAGE_1.png) no-repeat;
            width: 300px;
            .div_grid_text1{
                position: absolute;
                bottom: 0;
            }
            .block1_grid{
                color: #FFFFFF;
                position: absolute;
                bottom: 100px;
                left: 70px;
                &::before{
                    position: absolute;
                    content: '';
                    background: url(/figma/img/mini1.png) no-repeat;
                    width: 40px;
                    height: 40px;
                    left: -50px;
                }
            }
        }
        .grid_el2 {
            position: relative;
            background: url(/figma/img/IMAGE_2.png) no-repeat;
            width: 300px;
            .div_grid_text2 {
                position: absolute;
                bottom: 0;
            }
            .block2_grid {
                color: #FFFFFF;
                position: absolute;
                bottom: 100px;
                left: 70px;

                &::before {
                    position: absolute;
                    content: '';
                    background: url(/figma/img/mini2.png) no-repeat;
                    width: 40px;
                    height: 40px;
                    left: -50px;
                }
            }
        }
        .grid_el3 {
            position: relative;
            background: url(/figma/img/IMAGE_3.png) no-repeat;
            width: 300px;
            .div_grid_text3 {
                position: absolute;
                bottom: 0;
            }
            .block3_grid {
                color: #FFFFFF;
                position: absolute;
                bottom: 100px;
                left: 70px;

                &::before {
                    position: absolute;
                    content: '';
                    background: url(/figma/img/mini1.png) no-repeat;
                    width: 40px;
                    height: 40px;
                    left: -50px;
                }
            }
        }
    }

    .block_anderfooter_finish {

        .div_more_anderfooter_finish {
            text-align: center;
            height: 30px;
            margin-top: 65px;
        }
    }
}
